.about {
  background-color: $based-background-color;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 20px;
  }
}

.about__bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 485px;

  @media screen and (max-width: (768px - 0.02)) {
    background-image: url(../images/bg-milk-sm.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-milk-sm2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/bg-milk-lg.png);
    background-position: 0 135px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-milk-lg2x.png);
    }
  }
}

.about-content {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.about__label {
  margin-bottom: 15px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.about__title {
  text-align: center;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.about__picture {
  display: inline-block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.07);
  }
}

.about-txt {
  width: 220px;
  font-family: 'DM Sans';
  font-style: normal;
  @include font(500, 12px, 1.58, null);

  @media screen and(min-width: 768px) {
    width: 334px;
    margin-left: 32px;
    @include font(500, 14px, 1.78, 0.04em);
  }
  @media screen and(min-width: 1280px) {
    width: 463px;
    margin-left: 139px;
    @include font(500, 16px, 1.75, 0.04em);
  }

  &__first-p {
    margin-bottom: 32px;
    color: #000000;
  }
  &__second-p {
    margin-bottom: 20px;
  }
  &__third-p {
    margin-bottom: 20px;

    @media screen and(min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}
.about-btn--open {
  @extend %flex-centered;
  min-width: 176px;
  height: 44px;
  padding: 0;

  @include font(700, 14px, 1.28, null);
  background-color: #ffffff;
  color: $accent-color;
  border-radius: 22px;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.about-btn__arrow {
  margin-left: 14px;
  stroke: $accent-color;
}

// Модальное окно
.about-backdrop {
  position: fixed;
  @extend %flex-centered;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 21;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-backdrop.about-is-hidden .about-modal {
  transform: scale(0.1);
}

.about-modal {
  padding: 20px 20px;
  max-width: 320px;
  min-height: 500px;
  background-color: $menu-background-color;
  border-radius: 24px;
  @extend %flex-column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);

  @media screen and(min-width: 768px) {
    max-width: 720px;
  }
}

.about-is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.about-modal__title {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Titan One';
  font-style: normal;
  @include font(500, 16px, 1.58, null);
  color: $accent-color;

  @media screen and(min-width: 768px) {
    @include font(500, 18px, 1.78, 0.04em);
  }
  @media screen and(min-width: 1279px) {
    @include font(500, 20px, 1.75, 0.04em);
  }
}

.about-modal__txt {
  margin-bottom: 15px;
  font-family: 'DM Sans';
  font-style: normal;
  @include font(500, 12px, 1.58, null);
  color: #ffffff;

  @media screen and(min-width: 768px) {
    @include font(500, 14px, 1.78, 0.04em);
  }
  @media screen and(min-width: 1280px) {
    @include font(500, 16px, 1.75, 0.04em);
  }
}

.about-btn--close {
  @extend %flex-centered;
  min-width: 176px;
  height: 44px;
  padding: 0;
  margin-top: auto;

  @include font(700, 14px, 1.28, null);
  background-color: #ffffff;
  color: $accent-color;
  border-radius: 22px;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
