.advantages {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__item {
    width: 230px;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 44px) / 3);
      margin-bottom: 0;
      margin-right: 22px;
    }
    @media screen and (min-width: 1280px) {
      width: calc((100% - 212тзьpx) / 3);
      margin-right: 106px;
    }
  }
  &__item:last-child {
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }
  &__numbers {
    font-family: 'Titan One';
    font-style: normal;
    @include font(400, 36px, 1.14, 0.04em);
    text-transform: uppercase;
    color: $accent-color;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 13px;
      @include font(null, 48px, 1.15, null);
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 16px;
      @include font(null, 58px, 1.14, null);
    }
  }
  &__description {
    font-style: normal;
    @include font(700, 12px, 170%, null);
    color: $black-color;
    @media screen and (min-width: 768px) {
      width: 162px;
      @include font(null, 14px, 174%, null);
    }
    @media screen and (min-width: 1280px) {
      width: 220px;
      @include font(null, 16px, 176%, null);
    }
  }
}
.advantages__item:first-child::before {
  content: '';
  display: block;
  background-image: url(../images/adv_1.png);
  background-repeat: no-repeat;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/adv_1_2x.png');
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.advantages__item:nth-child(2)::before {
  content: '';
  display: block;
  background-image: url(../images/adv_2.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/adv_2_2x.png');
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.advantages__item:nth-child(3)::before {
  content: '';
  display: block;
  background-image: url(../images/adv_3.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/adv_3_2x.png');
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
