.contacts__section {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: linear-gradient(to bottom,
        $white-color 10%,
        $based-background-color 10%,
        $based-background-color 90%);

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.contacts__list {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-bottom: 40px;
    }
}

.contacts__item {
    padding: 40px 32px;
    background-color: $white-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: calc(100% / 3 - 32px);
        margin-left: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: calc(100% / 3 - 32px);
    }
}

.contacts__text {
    @include font(500, 12px, 1.86, 0.04em);
    display: block;
    text-align: center;
    border-radius: 4px;
    color: $white-color;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        @include font(null, 16px, null, null);
        margin-bottom: 32px;
    }

    &--cafe {
        width: 80px;
        background: $product-yellow-color;

        @media screen and (min-width: 768px) {
            width: 73px;
        }
    }

    &--foodtruck {
        width: 130px;
        background: $product-green-color;

        @media screen and (min-width: 768px) {
            width: 138px;
        }
    }
}

.contacts__place {
    margin-bottom: 24px;
    @include font(500, 12px, 1.86, 0.04em);

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.contacts__city {
    @include font(500, 12px, 1.86, 0.04em);
    color: $black-color;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        @include font(null, 14px, null, null);
        margin-bottom: 12px;
    }

    @media screen and (min-width: 1280px) {
        @include font(null, 16px, null, null);
        margin-bottom: 8px;
    }
}

.contacts__description {
    @include font(500, 12px, 1.5, null);
    color: secondary-text-color;

    @media screen and (min-width: 768px) {
        @include font(null, 14px, 1.66, null);
    }

    @media screen and (min-width: 1280px) {
        @include font(null, 16px, 1.66, null);
    }
}

.contacts__schedule {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__day {
    @include font(500, 12px, 1.86, null);
    color: $black-color;

    @media screen and (min-width: 768px) {
        @include font(null, 14px, null, null);
    }

    @media screen and (min-width: 1280px) {
        @include font(null, 16px, null, null);
    }
}

.contacts__time {
    @include font(500, 12px, 1.86, null);
    color: $secondary-hero-color;

    @media screen and (min-width: 768px) {
        @include font(null, 14px, null, null);
    }

    @media screen and (min-width: 1280px) {
        @include font(null, 16px, null, null);
    }

    &:not(:last-child) {
        margin-bottom: 8px;

        @media screen and (min-width: 1280px) {
            margin-bottom: 12px;
        }
    }
}

.contacts__communication {
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }
}

.contacts__link {
    display: block;
    @include font(500, 12px, 1.5, null);
    color: secondary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        @include font(null, 14px, 1.83, null);
    }

    @media screen and (min-width: 1280px) {
        @include font(null, 16px, null, null);
    }

    &:hover,
    &:focus {
        color: $secondary-hero-color;
    }
}

.contacts__buttons {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.contacts__button {
    @include font(700, 16px, 1.3, null);

    border-radius: 22px;
    border-style: none;
    @extend %flex-centered;

    text-align: center;
    cursor: pointer;
    min-width: 161px;
    min-height: 44px;
    margin-left: auto;
    margin-right: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: $secondary-hero-color;
        color: $accent-color;
    }
}
 
.contacts__button--red{
    background: $accent-color;
    color: $white-color;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
         min-width: 191px;
        margin: 0px 14px 0px 0px;
    }
    @media screen and (min-width: 1280px) {
        min-width: 198px;
        margin: 0px 15px 0px 0px;
    }

    &:after {
        content: "";
        width: 8px;
        height: 10px;
        background-size: contain;
        margin-left: 8px;
        background-image: url("../images/contacts_arrow.png");

        @media screen and (min-width: 768px) {
            margin-left: 14px;
        }
    }
}

.contacts__button--white{
    background: $white-color;
    color: $accent-color;
        
    @media screen and (min-width: 768px) {
        min-width: 174px;
        margin: 0px;
    }
        
    @media screen and (min-width: 1280px) {
        min-width: 180px;}
    
    &:after {
    content: "";
    width: 8px;
    height: 10px;
    background-size: contain;
    margin-left: 8px;
    background-image: url("../images/contacts_arrow2.png");

    @media screen and (min-width: 768px) {
        margin-left: 14px;
    }
    }
    }
