.gallery {
  background-image: linear-gradient(
    to bottom,
    $based-background-color 50%,
    $white-color 50%
  );
  .container {
    outline: 1px solid tomato;
    margin-left: auto;
    margin-right: auto;
  }
}
