.gallery {
  background-image: linear-gradient(
    to bottom,
    $based-background-color 50%,
    $white-color 50%
  );
  .container {
    outline: 1px solid tomato;
    margin-left: auto;
    margin-right: auto;
  }
}

//Grids
.gallery__list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  @media screen and (min-width: 768px) {
    grid-gap: 8px;
  }
}

.gallery__item--1 {
  // grid-column-start: 1;
  // grid-column-end: 3;
  // grid-row-start: 3;
  // grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--2 {
  // grid-column-start: 2;
  // grid-column-end: 4;
  // grid-row-start: 2;
  // grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--3 {
  // grid-column-start: 4;
  // grid-column-end: 6;
  // grid-row-start: 2;
  // grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--4 {
  // grid-column-start: 3;
  // grid-column-end: 5;
  // grid-row-start: 1;
  // grid-row-end: 2;

  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--5 {
  // grid-column-start: 3;
  // grid-column-end: 5;
  // grid-row-start: 3;
  // grid-row-end: 4;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--6 {
  // grid-column-start: 5;
  // grid-column-end: 7;
  // grid-row-start: 3;
  // grid-row-end: 4;

  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--7 {
  // grid-column-start: 2;
  // grid-column-end: 4;
  // grid-row-start: 4;
  // grid-row-end: 5;

  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--8 {
  // grid-column-start: 4;
  // grid-column-end: 6;
  // grid-row-start: 4;
  // grid-row-end: 5;

  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}

.gallery__item--9 {
  // grid-column-start: 3;
  // grid-column-end: 5;
  // grid-row-start: 5;
  // grid-row-end: 6;

  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.gallery__item--10 {
  // grid-column-start: 3;
  // grid-column-end: 5;
  // grid-row-start: 6;
  // grid-row-end: 7;

  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__box {
  width: 100%;
  height: 100%;
  picture {
    width: 100%;
    height: 100%;
    img {
      border-radius: 10%;
    }
  }
}
