.header{
    background-color: $main-hero-color;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-img{
    padding: 8px 0;
    margin-left: 0;
    
    @media screen  and (min-width:320px) {
        margin-right: 61px;
    }
    @media screen  and (min-width:768px) {
        margin-right: 293px;
    }
    @media screen  and (min-width:1280px) {
        margin-right: 175px;

    }
}
.header-logo{
    animation: logo-img-anime 2s 0.75s infinite;
}

.header-navigation{
    display: flex;
    @media screen  and (max-width:1279px){
        display: none;
    }
}
.nav-menu__link{
    font-weight: 700;
    line-height: 1.31;
    font-style: normal;
    display: flex;
    align-items: center;
    color: $white-color;
    transition: color 250ms cubic-bezier(0.4 , 0 , 0.2 ,1 ) 0s;
    white-space: nowrap;
}


.nav-menu__link:hover,
.nav-menu__link:focus{
    color: $accent-color;
}
.nav-menu{
    display: flex;
    align-items: center;

}
.nav-menu .nav-menu__item:not(:last-child){
margin-right: 35px;
}
.nav-menu .nav-menu__item:nth-child(5){
    margin-right: 174px;
}
.nav-menu__item{
    padding: 11px 0px;
}
.header-btn{
    padding: 11px 0px;
    display: block;
    border: 0;
    border-radius: 22px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    text-align: center;
    color: $accent-color;

    height: 44px;
    background: $white-color;
    
    cursor: pointer;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4 , 0 , 0.2 ,1 ) 0s;
    white-space: nowrap;

    @media screen  and (min-width:768px){
        margin-right: 32px;
        margin-left: 32px;
        padding-left: 37.23px;
        padding-right: 37.23px;
    }
    @media screen  and (min-width:1280px){
        padding-left: 37px;
        padding-right: 37px;
        margin-right: 0;
        margin-left: 0;
    }
    @media screen  and (max-width:767px){
        display: none;

    }
}
.header-btn:hover{
    background-color: #ECEBEB;
}

.vector-svg{
    fill: $accent-color;
    margin-left: 27px;
}

.mob-svg-open{
    width: 20px;
    height: 12px;
    margin-right: 32px;
    background-color: rgba( 0, 0, 0, 0);
    border: 0;
}
.main-btn{
    display: flex;
}

.js-menu-container{
    @media screen  and (min-width:1279px){
        display: none;
    }
}
.js-open-menu{
    padding: 0;
    border:none;
    background-color:rgba( 0, 0, 0, 0);
    margin-left: auto;
    width: 20px;
    height: 12px;
    cursor: pointer;
    @media screen  and (min-width:1279px){
        display: none;
    }
}

.current{
    color: $accent-color;
}

.js-menu-container{
    z-index: 1;
    position: fixed;
    padding-top: 20px;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #E17992;
    overflow-y: auto;
    box-shadow: -8px 2 20px rgba( 0, 0, 0, .25);
    opacity: 1;
    transform: translateY(0%);
    .container{
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.js-menu-container.is-open{
    transform: translateX(0%);
}


.js-menu{
    width: 100%;
}
.js-close-menu{
    display: block;
    margin-left: auto;
    margin-bottom: 26px;
    background-color: rgba( 0, 0, 0, 0);
    border: 0;
    margin-bottom: 26px;
    margin-left: auto;
    padding: 0;
    display: block;
    position: relative;
    top:0;
    right: 0;
    fill:$white-color;
    transition: fill 250ms cubic-bezier(0.4 , 0 , 0.2 ,1 );
    cursor: pointer;
}
.js-close-menu:hover,
.js-close-menu:focus{
    fill: $accent-color;
}

.mob-menu__item{
    border-bottom: 1px solid #E18298;
    border-top: 1px solid #E18298;
    padding: 11px 0;

}
.mob-menu__link{
    font-weight: 700;
    font-style: 14px;
    line-height: 1.31;
    font-style: normal;
    display: flex;
    align-items: center;
    color: $white-color;
    transition: color 250ms cubic-bezier(0.4 , 0 , 0.2 ,1 ) 0s;
    white-space: nowrap;
    
}
.mob-menu__link:hover,
.mob-menu__link:focus{
    color: $accent-color;
}
.mob-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color:$accent-color;
    padding: 11px 0;    
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    border: 0;
    border-radius: 22px;
    min-width: 200px;
    height: 44px;
    cursor: pointer;
    background-color: $white-color;
    border-color: rgba( 0, 0, 0, 0);
    transition: background-color 250ms cubic-bezier(0.4 , 0 , 0.2 ,1 ) 0s;
    white-space: nowrap;
}

.mob-btn:hover{
    background-color: #ECEBEB;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate(100%, 100%) scale(0.5);
}
.no-scroll{
    overflow: hidden;
}