.hero {
  background-color: $main-hero-color;
}

.hero-container {
  position: relative;
}

.hero__main {
  display: flex;
  justify-content: space-between;
}

.hero__main-title {
  width: 218px;
  font-family: 'Titan One';
  text-transform: uppercase;
  color: $accent-color;
  @include font(400, 48px, 0.95, null);

  @media screen and (min-width: 768px) {
    width: 166px;
    @include font(400, 34px, 0.91, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    @include font(400, 58px, 0.89, 0.04em);
  }

  &--first {
    @include font(400, 26px, 1.15, 0.04em);
    color: $white-color;

    @media screen and (min-width: 768px) {
      @include font(400, 22px, 1.13, 0.04em);
    }

    @media screen and (min-width: 1280px) {
      @include font(400, 38px, 1.15, 0.04em);
    }
  }
}

.hero__buttons {
  margin-top: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  @include font(400, 8px, 1.25, null);

  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    @include font(400, 14px, 1.28, null);
  }

  &--first {
    padding: 0 14px;
    height: 24px;
    color: $white-color;
    background-color: $accent-color;
    border-radius: 20px;
    border: 0;

    @media screen and (min-width: 1280px) {
      padding: 0 23.5px;
      height: 40px;
    }
  }

  &--second {
    padding: 0 14px;
    height: 24px;
    color: $accent-color;
    background-color: $white-color;
    border-radius: 20px;
    border: 0;

    @media screen and (min-width: 1280px) {
      padding: 0 23.5px;
      height: 40px;
    }
  }
}

.hero__places {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero__places-item {
  margin-bottom: 15px;
  text-align: right;
}

.hero__places-number {
  font-family: 'Titan One';
  font-style: normal;
  @include font(400, 28px, 1.14, 0.04em);
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 1280px) {
    @include font(400, 46px, 1.15, 0.04em);
  }
}

.hero__places-type {
  font-family: 'DM Sans';
  font-style: normal;
  @include font(400, 8px, 1.25, null);
  color: #ffffff;

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 1.28, null);
  }
}

.hero__info {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 114px;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
  }
}

.hero__info-text {
  font-family: 'DM Sans';
  font-style: normal;
  @include font(400, 8px, 1.25, null);
  color: #ffffff;

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 1.28, null);
  }
}
