:root {
  --white-text: #ffffff;
  --title-text: #d41443;
  --accent-color: #ffa5ba;

  --second-bg: #ffb8ca;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--main-text);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
}

.list {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One';
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .pre-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .pre-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__pre-title {
  margin-bottom: 15px;
}

.products__title {
  margin-bottom: 141px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 49px;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    margin-right: -10px;
    margin-left: -10px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: -12px;
    margin-left: -12px;
  }
}

.products__item {
  position: relative;
  border-radius: 24px;
  padding-bottom: 40px;

  &::before {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 249px;
    height: 252px;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 225px;
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      transform: translate(-50%, -65%);
    }
  }

  &:nth-child(1) {
    background-color: var(--second-bg);

    &:before {
      background-image: url(../img/ice-creammob.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/ice-creammob2x.png);
      }

      @media screen and (min-width: 768px) {
        background-image: url(../img/ice-creamtab.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/ice-creamtab2x.png);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: url(../img/ice-creamdesc.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/ice-creamdesc2x.png);
        }
      }
    }
  }

  &:nth-child(2) {
    background-color: #f0d1a5;

    &:before {
      background-image: url(../img/latemob.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/latemob2x.png);
      }

      @media screen and (min-width: 768px) {
        background-image: url(../img/latetab.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/latetab2x.png);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: url(../img/latedesc.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/latedesc2x.png);
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: #c2e297;

    &:before {
      background-image: url(../img/milkmob.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/milkmob2x.png);
      }

      @media screen and (min-width: 768px) {
        background-image: url(../img/milktab.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/milktab2x.png);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: url(../img/milkdesk.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/milkdesk2x.png);
        }
      }
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 110px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc(100% / 3 - 24px);
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 210px;
    padding-bottom: 50px;
  }
}

.products__checkbox {
  display: none;
}

.products__name {
  position: relative;
  margin-bottom: 66px;
  padding-top: 161px;

  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text);

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }

  &::after {
    content: '...';
    display: block;
    width: 26px;
    height: 6px;
    margin: 0 auto;
    letter-spacing: 4px;
    padding-top: 30px;

    @media screen and (min-width: 1280px) {
      padding-top: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 163px;
  }
}

.products__description {
  padding-left: 40px;
  padding-right: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text);

  @media screen and (min-width: 768px) {
    padding-left: 11px;
    padding-right: 11px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 44px;
    padding-right: 44px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.products__more-description {
  display: none;
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text);

  @media screen and (min-width: 768px) {
    padding-left: 11px;
    padding-right: 11px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 44px;
    padding-right: 44px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.products__checkbox:checked ~ .products__more-description {
  display: block;
}

.products__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white-text);
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 62px;
  }
}
.products__icon {
  fill: #d41443;
}
