$white-color: #ffffff;
$black-color: #000000;
$light-grey: #e1e1e1;
$secondary-text-color: #907e82;
$based-background-color: #fff5f6;
$accent-color: #d41443;
$main-hero-color: #ffb8ca;
$secondary-hero-color: #ffa5ba;
$product-yellow-color: #f0d1a5;
$product-green-color: #c2e297;
$menu-background-color: #e17992;
$modal-main-color: #e95c73;
$modal-accent-color: #ce3b54e5;