.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #907e82;
  background-color: #fff5f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

h1,
h2,
h3,
p,
section {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.main-title {
  font-family: 'Titan One';
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .main-title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.pre-title {
  font-family: 'Titan One';
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .pre-title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .pre-title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about {
  background-color: #fff5f6;
  padding: 40px 20px;
}

.about__bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 485px;
}

@media screen and (max-width: 767.98px) {
  .about__bg {
    background-image: url(../images/bg-milk-sm.png);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__bg {
    background-image: url(../images/bg-milk-sm2x.png);
  }
}

@media screen and (min-width: 768px) {
  .about__bg {
    background-image: url(../images/bg-milk-lg.png);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__bg {
    background-image: url(../images/bg-milk-lg2x.png);
  }
}

.about__label {
  margin-bottom: 15px;
  text-align: center;
}

.about__title {
  text-align: center;
  margin-bottom: 32px;
}

.about-txt {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
}

.about-txt__first-p {
  margin-bottom: 40px;
  color: #000000;
}

.about-txt__second-p {
  margin-bottom: 20px;
}

.about-txt__third-p {
  margin-bottom: 20px;
}

.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 176px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  background: #ffffff;
  border-radius: 22px;
}
/*# sourceMappingURL=main.css.map */