<!-- Секция about (how it’s made?) -->
<section class="about section" id="about">
  <div class="about__bg container">
    <p class="about__label pre-title">tradition and love</p>
    <h2 class="about__title main-title">how it’s made?</h2>
    <div class="about-content">
      <picture class="about__picture">
        <source
          media="(min-width: 1200px)"
          srcset="./images/cow-lg.png 1x, ./images/cow-lg2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/cow-md.png 1x, ./images/cow-md2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/cow-sm.png 1x, ./images/cow-sm2x.png 2x"
        />
        <img src="./images/cow-md.png" alt="cow and milk" />
      </picture>
      <div class="about-txt">
        <p class="about-txt__first-p">
          Ice cream is a complex product. Dairy ice cream contains milk fat, and
          other components, such as proteins and carbohydrates.
        </p>
        <p class="about-txt__second-p">
          Sweeteners, flavourings, emulsifiers and stabilisers are added during
          processing to enhance flavour, texture or appearance. Ice cream is
          over 50% water, from milk or other ingredients.
        </p>
        <p class="about-txt__third-p">
          Air is incorporated into the product, resulting in finely distributed
          air cells protected by a layer of fat globules.
        </p>
        <button class="about-btn--open" type="button" data-modal-open-about>
          <span class="about-btn__txt">Read more</span>
          <svg width="10px" height="10px" class="about-btn__arrow">
            <use href="./images/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Модальное окно -->
<div class="about-backdrop about-is-hidden" data-modal-about>
  <div class="about-modal">
    <p class="about-modal__title">Ice cream production</p>
    <p class="about-modal__txt">
      The production of ice cream involves mixing the ingredients together,
      followed by pasteurisation. It is then homogenised, a process that allows
      the distribution of fat into as many separate small fat globules as
      possible. After homogenisation there is a cooling and ageing process. The
      mixture is left to age for 4-24 hours and during this time all the dry
      ingredients are hydrated and the fat is crystallised. The product is then
      frozen in a continuous freezer and air incorporation takes place. When the
      ice cream leaves the continuous freezer at -5˚C, approximately 50% of the
      water is frozen. The final process is hardening, which freezes out most of
      the water at -40˚C.
    </p>
    <button class="about-btn--close" type="button" data-modal-close-about>
      <span class="about-btn__txt">Close</span>
      <svg width="10px" height="10px" class="about-btn__arrow">
        <use href="./images/icons.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</div>
