<section class="advantages section">
  <div class="container">
  <h2 class="visually-hidden">Advantages</h2>
  <ul class="advantages__list list">
    <li class="advantages__item"><h3 class="advantages__numbers">721</h3><p class="advantages__description">Delicious milkshakes are prepared for our customers every day.</p></li>
    <li class="advantages__item"><h3 class="advantages__numbers">16kg</h3><p class="advantages__description">Fruits are added daily to our ice cream.</p></li>
    <li class="advantages__item"><h3 class="advantages__numbers">84</h3><p class="advantages__description">We get awesome feadbacks from real ice-cream lovers.</p></li>
  </ul>
</div>
</section>