<!--Секция Contacts-->
<section class="contacts__section" id="contacts">
  <div class="container">
    <h2 class="contacts__main-title visually-hidden">Our contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <span class="contacts__text contacts__text--cafe">CAFE</span>
        <div class="contacts__place">
          <p class="contacts__city">Chicago</p>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__schedule">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">
            <time datetime="06:00">06:00 AM</time><span> - </span
            ><time datetime="10:00">10:00 PM</time>
          </p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">
            <time datetime="08:00">08:00 AM</time><span> - </span
            ><time datetime="16:00">16:00 PM</time>
          </p>
        </div>
        <div class="contacts__communication">
          <a class="contacts__link link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <span class="contacts__text contacts__text--foodtruck">FOODTRUCK</span>
        <div class="contacts__place">
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__schedule">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">
            <time datetime="06:00">06:00 AM</time><span> - </span
            ><time datetime="10:00">10:00 PM</time>
          </p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">
            <time datetime="08:00">08:00 AM</time><span> - </span
            ><time datetime="16:00">16:00 PM</time>
          </p>
        </div>
        <div class="contacts__communication">
          <a class="contacts__link link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <span class="contacts__text contacts__text--cafe">CAFE</span>
        <div class="contacts__place">
          <p class="contacts__city">New York</p>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__schedule">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">
            <time datetime="06:00">06:00 AM</time><span> - </span
            ><time datetime="10:00">10:00 PM</time>
          </p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">
            <time datetime="08:00">08:00 AM</time><span> - </span
            ><time datetime="16:00">16:00 PM</time>
          </p>
        </div>
        <div class="contacts__communication">
          <a class="contacts__link link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button
        type="button"
        class="contacts__button contacts__button--red"
        map-modal-open
      >
        Our Locations
      </button>
      <button
        type="button"
        class="contacts__button contacts__button--white"
        franchise-modal-open
      >
        Franchise
      </button>
    </div>
  </div>
</section>
