<footer class="footer section">
    <div class="container">
        <div class="footer-top">
            <div class="footer-motto">
                <p class="footer-title pre-title">homemade ice cream made</p>
                <p class="footer-subtitle main-title">with passion</p>
            </div>
            <div class="footer-connection">
                <div class="footer-soc">
                    <ul class="footer-soc__list list">
                        <li class="footer-soc__item">
                            <a href="" target="_blank" rel="noopener noindex nofollow" class="footer-soc__link link">
                                <svg class="footer-soc__icon" width="34" height="34">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-soc__item">
                            <a href="" target="_blank" rel="noopener noindex nofollow" class="footer-soc__link link">
                                <svg class="footer-soc__icon" width="34" height="34">
                                    <use href="./images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-soc__item">
                            <a href="" target="_blank" rel="noopener noindex nofollow" class="footer-soc__link link">
                                <svg class="footer-soc__icon" width="34" height="34">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="footer-contact">Feel free to contact &#160<a href="tel: +61 (0) 383 766 284" class="footer-tel link">+61 (0) 383 766 284</a></span>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright-name">© 2019 - IceCream.&#160</p>
            <p class="copyright-rights">All Rights Reserved.</p>
        </div>
    </div>
</footer>