<section class="gallery section">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item gallery__item--1">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-1.jpg    1x,
                ./images/gallery/gallery-1@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-1.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--2">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-2.jpg    1x,
                ./images/gallery/gallery-2@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-2.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--3">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-3.jpg    1x,
                ./images/gallery/gallery-3@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-3.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--4">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-4.jpg    1x,
                ./images/gallery/gallery-4@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-4.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--5">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-5.jpg    1x,
                ./images/gallery/gallery-5@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-5.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--6">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-6.jpg    1x,
                ./images/gallery/gallery-6@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-6.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--7">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-7.jpg    1x,
                ./images/gallery/gallery-7@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-7.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--8">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-8.jpg    1x,
                ./images/gallery/gallery-8@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-8.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--9">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-9.jpg    1x,
                ./images/gallery/gallery-9@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-9.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item--10">
        <div class="gallery__box">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-10.jpg    1x,
                ./images/gallery/gallery-10@2x.jpg 2x
              "
            />
            <img src="./images/gallery/gallery-10.jpg" alt="ice cream" />
          </picture>
        </div>
      </li>
    </ul>

    <!--Вставленні зображення-->
    <!-- <picture>
      <source
        srcset="
          ./images/gallery-desktop.jpg    1x,
          ./images/gallery-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/gallery-tablet.jpg    1x,
          ./images/gallery-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/gallery-mobile.jpg    1x,
          ./images/gallery-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />

      <img src="./images/gallery-desktop.jpg" alt="gallery" />
    </picture> -->
  </div>
</section>
