<header>
    <div class="container header-container">
        <a class="header-logo" href="">
            <img class="logo-img" src="./images/logo.png" alt="logo" width="199" height="50">
        </a>
        <nav class="header-navigation">
            <ul class="nav-menu list">
                <li class="nav-menu__item"><a class="nav-menu__link link" href=""#>Home</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link link" href=""#>About us</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link link" href=""#>How it’s made?</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link link" href=""#>Our products</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link link" href=""#>Contact</a></li>
            </ul>
        </nav>
        <div class="main-btn">
        <button
          type="button" 
          class="menu-open-btn"
        >
          <svg class="mob-svg-open" width="20" height="12">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        
        <button class="header-btn" type="button">Buy now
            <svg class="vector-svg" width="4" height="8">
                <use href="./images/icons.svg#icon-right-arrow"></use>
            </svg>
        </button>
    </div>

        
    </div>
</header>