<section class="hero section">
    <div class="container hero-container">
        <div class="hero__title">
            <h1 class="hero__main-title"><span class="hero__main-title--first"> Ice cream made with </span>passion</h1>
            <div class="hero-buttons">
                <button type="button" class="hero-buttons--first"> Products </button>
                <button type="button" class="hero-buttons--second"> How it's made </button>
            </div>
        </div>
        <div class="hero__places">
            <ul class="hero__places-list list">
                <li class="hero__places-item">
                    <p class="hero__places-number">16</p>
                    <p class="hero__places-type">cafes</p>
                </li>
                <li class="hero__places-item">
                    <p class="hero__places-number">23</p>
                    <p class="hero__places-type">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero__info">
            <p class="hero__info-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <details class="hero__info-details details">
                <summary class="details__"></summary>
                <p class="details__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            </details>
        </div>
    </div>
</section>