<section class="products section" id="products">
  <div class="container">
    <p class="pre-title products__pre-title">100% natural</p>
    <h2 class="main-title products__title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <input
          class="products__checkbox"
          type="checkbox"
          id="ice-cream-detailed"
          name="dessert"
          value="ice cream"
        />
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Our ice cream is a real pleasure and a variety of tastes. It leaves no
          one indifferent and everyone can choose the perfect pleasure for
          themselves.
        </p>
        <ul class="products__more-description list">
          <li>- Frozen custard, with eggs added to cream and sugar.</li>
          <li>- Ice milk.</li>
          <li>
            - Sorbet/slushy, ice pop/popsicle/icicle: Water base. Examples:
            frozen cola, frozen lemonade, frozen tea.
          </li>
          <li>- Sherbet, like sorbet but with some milk added.</li>
        </ul>
        <label class="products__label" for="ice-cream-detailed">
          <svg class="products__icon" width="13" height="13">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </label>
      </li>

      <li class="products__item">
        <input
          class="products__checkbox"
          type="checkbox"
          id="ice-coffee-detailed"
          name="dessert"
          value="ice coffee"
        />
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          The absolute favorite of the summer season is Ice-coffee. We prepare
          it from coffee, milk, ice and various additives. Everything for your !
        </p>
        <ul class="products__more-description list">
          <li>- Easy Iced Coffee.</li>
          <li>- Iced Caramel Macchiato.</li>
          <li>- Vietnamese Iced Coffee.</li>
          <li>- Chocolate Iced Mocha.</li>
          <li>- Chocolate Peanut Butter Iced Coffee.</li>
          <li>- Caramel Coconut Iced Coffee.</li>
          <li>- Mocha Smoothie.</li>
        </ul>
        <label class="products__label" for="ice-coffee-detailed">
          <svg class="products__icon" width="13" height="13">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </label>
      </li>

      <li class="products__item">
        <input
          class="products__checkbox"
          type="checkbox"
          id="milkshake-detailed"
          name="dessert"
          value="milkshake"
        />
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          There is nothing more reminiscent happy childhood than milkshakes.
          Delicate, airy and incredibly tasty - this is our fabulous milk shake
        </p>
        <ul class="products__more-description list">
          <li>- Vanilla Milkshake.</li>
          <li>- Chocolate Milkshake.</li>
          <li>- Cherry Vanilla Milkshake.</li>
          <li>- Mexican Chocolate.</li>
          <li>- Peanut Butter Milkshake.</li>
          <li>- Mint Oreo Milkshake.</li>
          <li>- Tiramisu Milkshake.</li>
          <li>- Grasshopper Milkshake.</li>
          <li>- Key Lime Pie Milkshake.</li>
        </ul>
        <label class="products__label" for="milkshake-detailed">
          <svg class="products__icon" width="13" height="13">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </label>
      </li>
    </ul>
  </div>
</section>
