<section class="reviews">
    <div class="container reviews__container reviews__container--bg">
        <h2 class="reviews__title visually-hidden">Customer reviews</h2>
        <div class="slide">
            <picture>
                <source srcset="./images/customer1-1200-1x-min.jpg 1x, 
                                                ./images/customer1-1200-2x-min.jpg 2x" media="(min-width:1280px)" type="image/jpeg" />
                <source srcset="./images/customer1-768-1x-min.jpg 1x, 
                                                ./images/customer1-768-2x-min.jpg 2x" media="(min-width:768px)" type="image/jpeg" />
                <source srcset="./images/customer1-320-1x-min.jpg 1x, 
                                                ./images/customer1-320-2x-min.jpg 2x" media="(min-width:320px)" type="image/jpeg" />
                <img src="./images/customer1-1200-2x-min.jpg" class="slide__photo" alt="Customer photo">
            
            </picture>

          

            <div class="slide__box">
                <div class="slide__thumb">
                    <p class="slide__text"> <span>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span> </p>
                </div>
            </div>
            <p class="slide__title">Emily, Los Angeles</p>
        </div>

    </div>

</section>