<section class="reviews section reviews--mobile reviews--bg">
    <div class="container reviews__container ">
        <h2 class="reviews__title visually-hidden">Customer reviews</h2>
        
            
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide slide">
                        <picture class="slide__photo">
                            <source srcset="./images/customer1-1200-1x-min.jpg 1x, 
                                                                                    ./images/customer1-1200-2x-min.jpg 2x"
                                media="(min-width:1280px)" type="image/jpeg" />
                            <source srcset="./images/customer1-768-1x-min.jpg 1x, 
                                                                                    ./images/customer1-768-2x-min.jpg 2x"
                                media="(min-width:768px)" type="image/jpeg" />
                            <source srcset="./images/customer1-320-1x-min.jpg 1x, 
                                                                                    ./images/customer1-320-2x-min.jpg 2x"
                                media="(min-width:320px)" type="image/jpeg" />
                            <img src="./images/customer1-1200-2x-min.jpg" alt="Customer photo">
                        
                        </picture>
                        
                        
                        
                        <div class="slide__box">
                            <div class="slide__thumb">
                                <p class="slide__text"> <span>Ice cream is my favorite dessert since childhood, I can’t deny myself this little weakness, although I’m no longer a
                                child. Now I buy this treat for my kids.</span> </p>
                            </div>
                        </div>
                        <p class="slide__title">Emily, Los Angeles</p>
                    </div>
                    <div class="swiper-slide slide">
                        <picture class="slide__photo">
                            <source srcset="./images/customer2-1200-1x-min.jpg 1x, 
                                                                                    ./images/customer2-1200-2x-min.jpg 2x"
                                media="(min-width:1280px)" type="image/jpeg" />
                            <source srcset="./images/customer2-768-1x-min.jpg 1x, 
                                                                                    ./images/customer2-768-2x-min.jpg 2x"
                                media="(min-width:768px)" type="image/jpeg" />
                            <source srcset="./images/customer2-320-1x-min.jpg 1x, 
                                                                                    ./images/customer2-320-2x-min.jpg 2x"
                                media="(min-width:320px)" type="image/jpeg" />
                            <img src="./images/customer2-1200-2x-min.jpg" alt="Customer photo">
                        
                        </picture>
                        
                        
                        
                        <div class="slide__box">
                            <div class="slide__thumb">
                                <p class="slide__text"> <span>The taste pleased both me and my husband. And if the husband liked it, then the ice cream is good. It is not very sweet,
                                milky notes are felt. Chocolate adds flavor.</span> </p>
                            </div>
                        </div>
                        <p class="slide__title">Samantha, New York</p>
                    </div>
                    <div class="swiper-slide slide">
                        <picture class="slide__photo">
                            <source srcset="./images/customer3-1200-1x-min.jpg 1x, 
                                                                                    ./images/customer3-1200-2x-min.jpg 2x"
                                media="(min-width:1280px)" type="image/jpeg" />
                            <source srcset="./images/customer3-768-1x-min.jpg 1x, 
                                                                                    ./images/customer3-768-2x-min.jpg 2x"
                                media="(min-width:768px)" type="image/jpeg" />
                            <source srcset="./images/customer3-320-1x-min.jpg 1x, 
                                                                                    ./images/customer3-320-2x-min.jpg 2x"
                                media="(min-width:320px)" type="image/jpeg" />
                            <img src="./images/customer3-1200-2x-min.jpg" alt="Customer photo">
                        
                        </picture>
                        
                        
                        
                        <div class="slide__box">
                            <div class="slide__thumb">
                                <p class="slide__text"> <span>Ice cream is super tasty, sweet, but not sweet, and really tender, like yogurt. Powder on top - that's just macadamia
                                nuts in caramel. this delicacy is incredible.</span> </p>
                            </div>
                        </div>
                        <p class="slide__title">Sofia, California</p>
                    </div>
                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>

            
        

    </div>

</section>